/** Theme colors
#d8e4f0		Off White
#023059		Blue
#5187b8		Muted Blue
#a0d9b9		Seafoam Green
#bf3434		Red
#f25244		Orange
#f2da63		Mustard Yellow
**/

body {
	font-family: 'Lato', sans-serif;
	color: #023059;
	font-weight: 300;
}

hr {
	border-top: 5px solid #f25244;
	margin: 0px 0px 10px;
}

.text-muted {
	color: #5187b8;
}

.header-color {

}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 50px;
}

.title-logo {
	margin: 10px auto;	
}

.outline-img {
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 6px; 
}

.img-backdrop {
	
}

@media (max-width:768px) {
	.name-title { 
		text-align: center;
		}
}