body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

hr {
	border-top: 5px solid #bcbbbb;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 50px;
}

.title-logo {
	margin: 20px inherit inherit inherit;	
}

.outline-img {
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 6px; 
}

.img-backdrop {
	
}

@media (max-width:768px) {
	.name-title { 
		text-align: center;
		}
}